/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
h1{
	font-size: 80px;
	display: flex;
	padding: 50% auto;
	margin: 100px;
	width: 80%;
}
.column .button{
	-webkit-transitioni-duration: 0.4s;
	transition-duration: 0.4s;
	width: 20%;	
	padding: 10px 10px 10px 10px;
	margin: 0px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.column .button:hover{
	background-color:red;
	color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

nav{
	display: flex;
	margin: 2% auto;
	padding: 4% auto;
	overflow: hidden;
	align-items: center;
	width: 100%;
	align-content: stretch;
}

a:link, a:hover, a:active, a:visited{
	color: darkgray;
	text-decoration: none;
	padding: 5% auto;
	margin: 40px 40px;
}
.introduction{
	display: flex;
	width: 75%;
	padding: 5% auto;
	margin: 3%;
	border-bottom: 3px solid gray;
}

.row {
	display: inline-flex;
	margin: 10px 10px 10px 10px;
	padding: 10px;
	width: 75%;
  }
  
.column {
	flex: 100%;
	margin: 10px 30px 10px 10px;
	padding: 0px;
	width: 100%;
	text-align: left;
}

#bodyimage{
	display: flex;
	width: 100%;
	margin: 10px;
	padding: 10px;
	align-content: stretch;
}

#contact{
	text-align: left;
	width: 75%;
	margin: 10px;
	padding: 10px;
	border-top: 3px solid gray;
}

.copyright{
	text-align: center;
	width: 75%;
	margin-left: 75px;
	padding-left: 50px;
}

.servicesdescription{
	width: 80%;
	margin: 5%;
}
.servicesbody{
	display: flex;
	flex: 50%;
	justify-content: space-between;
	margin: 5%;
}

.servicescategories{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.servicescategories{
	background-color: lightgray;
	border: 1px solid gray;
	margin: 10px;
	width: 50%;
}

.fact-sheet{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 5% auto;
	flex-direction: column;
	align-content: left;
}

.services-header-img{
	display: flex;
	margin: 5%;
	align-items: right;
}

#services-fact-list{
	list-style-type: circle;
}